*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(background.jpg);
    
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height:80vh; */
}

ul,li{
    list-style: none;
}
header,form,ul{
    min-height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,form button{
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    background: #ffffff;
}

form button{
    color: seagreen;
    background-color:#ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background-color: chartreuse;
    color: #ffffff;
    z-index: 1;
}
.details{
    display: flex;
    justify-content:space-around;
    padding: 10px;
}

.details li{
    margin:5px;
    padding: 5px;
    
}

a{
    color: #000000;
    text-decoration: none;
}
#list{
   
    
}

.todo{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding:2px;
     background-color: #ffff;
    margin: 10px;
    transition: all 0.5s ease;
}

.todo li{
    flex: 2;
}
li{
    margin: 10px;
}
.trash_btn,.complete_btn{

    padding: 10px;
    font-size: 1.3rem;
    background-color:#ffff;
    border: NONE;
}
.fa-trash, .fa-check-circle{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.7;
}